<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Nervous Yak - Yaking about Coding, Web Design, and Technology</title>
		<%=stylesheet_link_tag "reset.css" %>
		<%=stylesheet_link_tag "style_header.css" %>
		<%=stylesheet_link_tag "style_content.css" %>
		<%=stylesheet_link_tag "text.css" %>
		<%=stylesheet_link_tag "960.css" %>
		<%=stylesheet_link_tag "CodeRay", :cache => "true"%>



<link href="/images/favicon.ico" rel="icon" type="image/x-icon" />
	</head>
	<body>
		<div id="header" class="container_16">
			<div id="header_start"  class="grid_14 prefix_1 suffix_1">

			<div class="grid_2 prefix_8 alpha">
				<a class="MenuItem"  href="/blog">
					<span class="MenuTitle">Blog</span><br/>
					<span class="SubMenu">News & Notes</span>
				</a>
			</div>
			<div class="grid_2">
				<a class="MenuItem" href="/about">
					<span class="MenuTitle">About</span></br>
					<span class="SubMenu">Bio & Colophon</span>
				</a>
			</div>
			<div class="grid_2 omega">
				<a class="MenuItem" href="/contact">
					<span class="MenuTitle">Contact</span></br>
					<span class="SubMenu">Get in Touch</span
				</a>
			</div>
		</div>
		<br class="clear"/>
		<br/>
		<br/>
		<div id="Content" class="Container_16">
			<div class="grid_16">
				<p class="notice"><%= flash[:notice] %></p>
				<p class="alert"><%= flash[:alert] %></p>
			</div>
			<br class="clear">
			<%= yield %>
		</div>
		<br class="clear"/>
		<div id="footer" class="container_16">
			<div class="grid_16">
				<p>
				<%if user_signed_in? %>
					 <%= link_to "Log Out", destroy_user_session_path%>
				
					    <%= link_to "Articles", articles_path%>
					
				<%else %>
					<%= link_to "log in", new_user_session_path %>
				<%end %>
				</p>
			</div>
		</div>
	</body>
</html>
